body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.container-fluid {
    padding-left: 0 !important;
}

.navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    background-color: #031f38;
    padding: 0 !important;
}

a:hover {
    text-decoration: underline;
}
