body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.container {
    padding: 10px;
    margin-top: -125px;
    position: relative;
}

.container-fluid {
    padding-left: 0 !important;
}

.navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    background-color: #031f38;
    padding: 0 !important;
}

a:hover {
    text-decoration: underline;
}

.submit-container {
    align-items: center;
    display: flex;
}

.price-container {
    font-size: 18px;
}

.form-container {
    padding: 20px;
    background-color: white;
    border: 2px solid #d2d4d6;
    border-radius: 10px;
}

hr.divider {
    border-top: 1px solid #b7b9bd;
}

.img-bg-top {
    margin: auto;
    max-width: none;
    position: relative;
    display: flex;
}

.reisendeInformasjon-container {
    flex: 0 0 auto;
    width: 32.5%;
    margin-bottom: 15px;
}

.flexBreak {
    width: 100%;
}

.betaling-container {
    width: 50%;
    margin: auto !important;
}

input.form-control:read-only {
    background-color: white;
}